body {
    background-color: #1b1b1b;
    color: #f5f5f5;
    font-family: 'Georgia', serif;
}

/* Navbar */
.navbar {
    background-color: #111 !important;
    border-bottom: 2px solid #c9a66b;
}

.navbar-brand {
    font-size: 1.7rem;
    color: #c9a66b !important;
}

.nav-link {
    color: white !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: #c9a66b !important;
}

/* Main Title */
.hero-title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
    color: #c9a66b;
}

/* Intro text */
.intro-text {
    font-size: 1.2rem;
    line-height: 1.8;
    text-align: center;
    max-width: 900px;
    margin: 30px auto;
}

/* Images */
.chess-gallery {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.chess-img {
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.6);
    transition: transform 0.3s;
}

.chess-img:hover {
    transform: scale(1.03);
}

/* Container spacing */
.main-content {
    padding: 50px 20px;
}
div {
     margin-left: 15px;
}
.chess-img:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0,0,0,0.35)
}